Angular2WebpackVisualStudio/.vs
Angular2WebpackVisualStudio/src/Angular2WebpackVisualStudio/Angular2WebpackVisualStudio.xproj.user
Angular2WebpackVisualStudio/src/Angular2WebpackVisualStudio/bin
Angular2WebpackVisualStudio/src/Angular2WebpackVisualStudio/obj
Angular2WebpackVisualStudio/src/Angular2WebpackVisualStudio/project.lock.json
