<div class="container" style="margin-top: 15px;">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/about']">ASP.NET Core // Angular2 // Webpack</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/about']">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://twitter.com/damien_bod"><img src="assets/damienbod.jpg" height="40" style="margin-top: -10px;" /></a></li>
                <li><a href="https://twitter.com/FabianGosebrink"><img src="assets/fabianGosebrink.jpg" height="40" style="margin-top: -10px;" /></a></li>
                <li><a href="https://twitter.com/robisim74"><img src="assets/RobertoSimonetti.jpg" height="40" style="margin-top: -10px;" /></a></li>
            </ul>
        </div>
    </nav>



    <router-outlet></router-outlet>


    <footer>
        <p>
            <a href="https://twitter.com/FabianGosebrink">Fabian Gosebrink</a>&nbsp;Blog: <a href="http://offering.solutions">Offering.Solutions</a> &amp;
            <a href="https://twitter.com/damien_bod">Damien Bowden</a>&nbsp;Blog: <a href="https://damienbod.com/">Software Engineering</a>
            <a href="https://twitter.com/robisim74">Roberto Simonetti</a>
            
            &copy; 2016
        </p>
    </footer>
</div>